.footer-area{
    background-image: url(../../../images/footer-bg.png);
    background-size: cover;
}

.footer-area li{
    padding-bottom: 10px;
}

.social-media .icon{
    height: 40px;
    width: 40px;
    color: #1cc7c1;
    border-radius: 50%;
    border: 1px solid #6ACECE;
    padding: 10px;
}
.social-media .active-icon{
    background-color: #6ACECE ;
    color:white;
}
.number{
    background-image: linear-gradient(75deg, #19D3AE,#0fcfec);
    padding:6px 12px;
    border:none;
    border-radius:3px;
}
.number:focus{
    border-color: linear-gradient(75deg, #19D3AE,#0fcfec);
    box-shadow: 0 0 0 0.1rem rgba(3, 242, 250, 0.904);
}
