.featured{
    background-image: linear-gradient(75deg, #19D3AE,#0fcfec);
    padding:6px 12px;
    border:none;
    border-radius:3px;
}
.featured:focus{
    border-color: linear-gradient(75deg, #19D3AE,#0fcfec);
    box-shadow: 0 0 0 0.1rem rgba(3, 242, 250, 0.904);
}